@import 'tailwindcss';

@theme {
  /*
  Tools for generating a design system:
  - https://tints.dev/
  - https://colorpicker.me/
  - https://uicolors.app/
  */

  /* Primary colour scale */
  --color-primary-50: oklch(97.17% 0.016 154.34);
  --color-primary-100: oklch(95.3% 0.027 152.3);
  --color-primary-200: oklch(90.59% 0.059 153.35);
  --color-primary-300: oklch(86.35% 0.069 153.14);
  --color-primary-400: oklch(82.05% 0.064 153.25);
  --color-primary-500: oklch(77.29% 0.061 153.07);
  --color-primary-600: oklch(64.77% 0.051 153.23);
  --color-primary-700: oklch(51.96% 0.041 153.51);
  --color-primary-800: oklch(39.32% 0.032 153.39);
  --color-primary-900: oklch(26.35% 0.021 153.19);
  --color-primary-950: oklch(19.55% 0.015 153.8);

  /* Secondary colour scale */
  --color-secondary-50: oklch(94.04% 0.001 287.27);
  --color-secondary-100: oklch(88.08% 0.004 301.77);
  --color-secondary-200: oklch(75.89% 0.012 303.17);
  --color-secondary-300: oklch(63.92% 0.015 299.71);
  --color-secondary-400: oklch(51.84% 0.021 299.75);
  --color-secondary-500: oklch(39.29% 0.015 300.9);
  --color-secondary-600: oklch(34.58% 0.014 297.14);
  --color-secondary-700: oklch(29.36% 0.011 300.93);
  --color-secondary-800: oklch(24.25% 0.01 294.89);
  --color-secondary-900: oklch(18.92% 0.006 301.02);
  --color-secondary-950: oklch(15.05% 0.004 285.92);

  /* Fonts */
  --font-serif: 'Suranna', serif;
  --font-cursive: 'Great Vibes', cursive;
  --font-body: 'DM Sans', sans-serif;
}

@layer base {
  #root {
    @apply h-full;
    @apply font-body;
    @apply bg-primary-500;
    @apply text-secondary-500;
  }

  html,
  body {
    @apply h-full;
    @apply select-none;
    @apply font-body;
    @apply bg-primary-500;
    @apply text-secondary-500;
    @apply no-scrollbar;
  }

  a {
    @apply text-primary-700;
    @apply hover:text-primary-600;
    @apply focus:text-primary-600;
    @apply underline;
    @apply hover:decoration-2;
    @apply hover:cursor-pointer;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none];
}

@utility show-scrollbar {
  @apply [scrollbar-width:auto] [&::-webkit-scrollbar]:block [-ms-overflow-style:auto];
}
